@use 'variables' as *;

.card {
  background-color: $color-card;
  border: 2px solid $color-border;

  &__title {
    padding: 4px 10px;
    font-size: $font-s;
    font-variation-settings: 'wght' $font-weight-title;
  }

  &__image-wrapper {
    position: relative;
    border-block: 2px solid $color-border;
  }

  &__label {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: $font-family-accent;
    font-size: $font-xs;
    text-transform: uppercase;
    text-shadow:
      -1px -1px 0 $color-stroke,
      1px -1px 0 $color-stroke,
      -1px 1px 0 $color-stroke,
      1px 1px 0 $color-stroke;
    mix-blend-mode: hard-light;
    opacity: 0.5;

    @supports (-webkit-text-stroke: 1px $color-stroke) {
      -webkit-text-stroke: 1px $color-stroke;
      text-shadow: none;
    }
  }

  &__image {
    display: block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-content;
    padding: $padding-content;
  }

  &__text {
    font-size: $font-s;
    font-variation-settings: 'wght' $font-weight-text;
    line-height: 21px;
    letter-spacing: -0.1%;
  }

  &__buttons {
    display: flex;
    gap: $gap-button;
    align-items: center;
    align-self: flex-end;
  }

  &__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: $color-foreground;
    cursor: pointer;
    outline: 2px solid transparent;
    background-color: transparent;
    border: none;
    transition: outline 0.3s ease;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid $color-outline;
    }
  }

  &__like-button {
    width: 118px;
    height: 38px;
  }
}

.button__text {
  position: relative;
  color: $color-primary;
  mix-blend-mode: difference;
}

.saturate {
  filter: saturate(0.2);
}

.brightness {
  filter: brightness(1.5);
}

.hue-rotate {
  filter: hue-rotate(25deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(1);
}

.blur {
  filter: blur(10px);
}

.hue-rotate-95 {
  filter: sepia(0.6) saturate(2) hue-rotate(-30deg) brightness(0.9);
}
