@use 'variables' as *;

.dialog {
  max-width: 353px;
  padding: 0;
  margin-inline: 17px;
  font-family: $font-family-accent;
  background-color: $color-background;

  &[open] {
    display: grid;
    place-self: center;
  }

  &::backdrop {
    background-color: $color-backdrop;
  }

  &__button-show {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 15px 18px;

    @media (width <= 375.98px) {
      flex-direction: column;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    &-icon {
      position: relative;
      color: $color-primary;
      mix-blend-mode: difference;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 28px 38px;
  }

  &__content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: $font-xs;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
    padding: 12.5px 116.5px;
    text-transform: uppercase;
  }
}
